body{
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #02CAA9;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 24px;
    color: white;
    text-align: center;
}