<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pham Minh Triet -  Sony Management Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>List Sony Products</h1>
    <h3 th:text="${'Hello, ' + session.account.getPhone()}"></h3>
    <div style="text-align: center;" th:if="${session.account.roleId==3}">
        <a th:href="@{/products/create}">Add new product</a>
        <a th:href="@{/products/top-stock}">Top Stock Products</a>
    </div>

    <div th:if="${products.isEmpty()}">
        <p style="color:red">List is empty</p>
    </div>
    <table th:if="${!products.isEmpty()}">
        <thead>
        <tr>
            <th>ProductID</th>
            <th>ProductName</th>
            <th>Price</th>
            <th>Stock</th>
            <th>CreatedAt</th>
            <th>CateName</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="x: ${products}">
            <td th:text="${x.productId}"></td>
            <td th:text="${x.productName}"></td>
            <td th:text="${x.price}"></td>
            <td th:text="${x.stock}"></td>
            <td th:text="${#temporals.format(x.createdAt,'dd-MM-yyyy')}"></td>
            <th th:text="${x.cate.cateName}"></th>
            <th>
                <a th:href="@{/products/update/{id}(id= ${x.productId})}">Update</a>
                <a th:href="@{/products/delete/{id}(id=${x.productId})}"
                onclick="return confirm('Are you sure?');">Delete</a>
            </th>
        </tr>
        </tbody>
    </table>
</body>
</html>